@model List<Product>
@{
    ViewData["Title"] = "Category";
}

<a asp-action="Creat" class="btn btn-primary">
    <i class="bi bi-plus-square"></i>
    Add Product
</a>

<table class="table table-hover justify-content-center">
    <thead>
        <tr class="w-auto">

            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>

        </tr>
    </thead>
    @foreach (var product in Model)
    {
        <tr class="table-active  w-auto">
            <td>@product.Id</td>
            <td>@product.Name</td>
            <td>@product.Price</td>
            <td>
                <a class="btn btn-success" asp-action="Edit"  asp-route-Id="@product.Id"> <i class="bi bi-pen-fill"></i></a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-Id="@product.Id"> <i class="bi bi-trash-fill"></i></a>
            </td>
        </tr>
    }
    <tbody>
    </tbody>
</table>
</div>